@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    font-family: "Lato", sans-serif;
    background-color: #EEEEEE;
}

.leftSide {
    background-color: #DDDDDD;
    position: relative;
    width: 100%;
    bottom: 10px;
    right: 10px;
    padding-left: 10px;
    margin-right: 10px;
}

.rightSide {
    margin-left: 20px;
}

.headers h1 {
    font-size: 4rem;
    margin-bottom: 0px;
}

.headers h2 {
    margin-top: 0;
}

.personalInfo .contact {
    list-style-type: none;
}

.personalInfo .contact a {
    text-decoration: none;
    color: #000;
}

.personalInfo .contact li:hover {
    transform: scale(1.05);
    transition-duration: .3s;
}

.titleContainer {
    display: grid;
    grid-template-columns: 500px 1fr;
}

.profilePhoto {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profilePhoto img {
    width: 300px;
    height: 300px;
    border-radius: 50%;

}

.gridContainer {
    display: grid;
    grid-template-columns: 500px 1fr;
}

.skillsContainer {
    grid-column: 1 / 2;
}

li:hover {
    transform: scale(1.05);
    transition-duration: .3s;
    cursor: context-menu;
}

.certificates {
    display: flex;
    gap: 10px;
    position: relative;
    left: 30px;
}

.certificates:hover {
    transform: scale(1.02);
    transition-duration: .3s;
}

.workContainer h4 {
    margin-top: 10px;
    margin-bottom: 0;
}

.workContainer .companyName {
    margin-top: 0;
}

.workHistoryContainer {
    grid-column: 2/3;
    grid-row: 1/ span 5;
    width: 90%;
}

.coursesContainer {
    grid-column: 2/3;
    grid-row: span 2;
}

.coursesContainer .course {
    display: grid;
    width: 90%;
    align-items: center;
    grid-template-columns: 100px 1fr;
}

.coursesContainer .course p {
    grid-column: span 2;
    margin: 0;
}

.coursesContainer .course ul {
    grid-column: span 2;
}

.course li a {
    text-decoration: none;
    color: #000;
}