@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root {
    --main-color: #EEF5FF;
    --second-color: #B4D4FF;
    --third-color: #86B6F6;
    --fourth-color: #176B87;
    --textColor: #fff
}

body {
    background-color: var(--main-color);
    color: var(--third-color);
    font-family: "Nunito", sans-serif;

}

/* Navbar  */
nav {
    background-color: var(--second-color);
    margin: 0;
    position: fixed;
    width: 100vw;
    top: 0px;
    left: 0px;
    text-transform: uppercase;

}

ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

nav a {
    text-decoration: none;
    color: var(--textColor);
}

/* Section */
.content>div {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
}

/* Home  section*/


/* About me section */

.profilePhoto img {
    width: 300px;
    height: 300px;
    border-radius: 20px;
}