@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root {
    --main-color: #EEF5FF;
    --second-color: #B4D4FF;
    --third-color: #86B6F6;
    --fourth-color: #176B87;
    --whiteColor: #fff
}

body {
    background-color: var(--main-color);
    color: var(--third-color);
    font-family: "Nunito", sans-serif;

}

/* Navbar  */
nav {
    background-color: var(--second-color);
    margin: 0;
    position: fixed;
    width: 100vw;
    top: 0px;
    left: 0px;
    text-transform: uppercase;
    z-index: 3;

}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

nav ul li:hover {
    transform: scale(1.3);
    transition-duration: .6s;
}

nav a {
    text-decoration: none;
    color: var(--whiteColor);
}

/* Section */
.content>div {
    width: 95vw;
    height: 100vh;
}

/* Home  section*/
.home {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.homeInfo {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.homeInfo h1 {
    font-size: 3rem;
    margin-top: 0;
}

.homeInfo p.homeWelcome {
    margin: 0;
}

.homeInfo p {
    font-size: 1rem;
}

/* CSS button */
.homeButton {
    align-self: center;
    --b: 3px;
    /* border thickness */
    --s: .45em;
    /* size of the corner */
    --color: var(--third-color);

    padding: calc(.5em + var(--s)) calc(.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background:
        conic-gradient(from 90deg at var(--b) var(--b), #0000 90deg, var(--color) 0) var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .6em;
    font-size: 16px;

    border: 0;

    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.homeButton:hover,
.homeButton:focus-visible {
    --_p: 0px;
    outline-color: var(--color);
    outline-offset: .05em;
}

.homeButton:active {
    background: var(--color);
    color: #fff;
}




.profilePhoto img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

/* Portfolio section */
.portfolio {
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolioContainer {
    display: flex;
    gap: 10px;
}

.portfolioContainer .project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--whiteColor);
    height: 80vh;
    border-radius: 50px;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: flex 0.7s ease-in;
}

.project h2,
.project a {
    display: none;
}


.portfolioContainer .project img {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    margin: 0;
    object-fit: cover;
}

.project.active {
    flex: 15
}

.project.active img {
    object-fit: fill;
    height: 80%;
}

.project.active h2,
.project.active a {
    display: contents;
}

.project button {
    margin-bottom: 10px;
}